.navTitle {
  color: rgb(211, 211, 185);
  font-family: "Contrail One", cursive;
  font-size: 5vh;
}

.navTitleMobile {
  color: rgb(211, 211, 185);
  font-family: "Contrail One", cursive;
  font-size: 4vh;
}

.drop {
  font-family: "Contrail One", cursive;
}
