.navTitle {
  color: antiquewhite;
  font-family: "Contrail One", cursive;
  font-size: 5vh;
}

.navTitleMobile {
  color: antiquewhite;
  font-family: "Contrail One", cursive;
  font-size: 4vh;
}

.drop {
  font-family: "Contrail One", cursive;
}
