.prevRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.prevCont {
  text-align: center;
  max-width: 18vw;
}

.shoePrev {
  height: 22vh;
  width: 17vw;
}

.prevLink {
  text-decoration: none;
}

.prevText {
  font-family: "Comfortaa", cursive;
  text-align: center;
  color: black;
}

.prevBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .prevCont {
    max-width: none;
  }

  .shoePrev {
    height: 22vh;
    width: auto;
  }
}
